@import "./tailwind.css";

:root {
 --t1: darkslateblue;
 --t2: dodgerblue;
}

.container {
    @apply max-w-content m-auto px-2;
}

a {
    @apply text-t2;
}

hr {
    @apply my-2 mx-auto border border-black w-1/3;
}


h1, h2, h3 ,h4, h5, h6, p {
    @apply my-2;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-t1;
}

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}